<html>
<head>
<link rel="stylesheet" href="css/style.css">
<meta http-equiv="">
</head>
<body>
<form id="form1">
    <input type="text" id="address">
    <button>search about weather</button>
    <p id="loaction"></p>
<p id="forecast"></p>
<p id="latitude"></p>
<p id="longtitude"></p>
<p id="error"></p>
</form>


<script src="js/script.js"></script>
</body>



</html>